.canvas {
  width: 365px;
  margin-bottom: 55px;
  vertical-align: top;

  canvas {
    border: 1px solid #B3C8B6;
    display: block;
    background-color: white;
  }

  .clear-canvas-button {
    margin-top: 10px;
    padding: 7px;
    font-size: 16px;
    border-radius: 5px;
    color: white;
    background-color: #ff4f75;
    cursor: pointer;
    position: absolute;
    margin-bottom: 40px;
    outline: none;
  }
}

.canvas, .autodraw-results, {
  margin-top: 45px;
  margin-left: 40px;

}

.canvas, .autodraw-results, canvas {
  border-radius: 10px;
  display: inline-block;
}

.autodraw-results {
  width: 650px;
  height: 350px;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0px 1px 8px #B3C8B6;
}

.autodraw-image {
  border: 1px solid #B3C8B6;
  display: inline-block;
  width: 90px;
  height: 90px;
  padding: 0;
  margin: 5px;
  cursor: pointer;
}
