/* You can add global styles to this file, and also import other style files */

html {
  background: #f5f5f5 url(/assets/background.png);
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background: #ff4f75;
  color: white;
  padding: 10px;

  h1, h2 {
    text-align: center;
    margin: 0;
  }
}



